[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
[submodule "themes/custom"]
	path = themes/custom
	url = https://github.com/Aamjit/gokarna.git
