<div class="post-title">
    {{ if .Params.image }}
    <div>
        <img class="post-list-image" src="{{ .Params.image }}" alt="{{ .Title }}" />
    </div>
    <div class="flex-break"></div>
    {{end}}
    <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
    {{ if .Description }}
    <span class="post-list-desc">{{ .Description }}</span>
    {{end}}
    <div class="flex-break"></div>

    {{ if .Params.tags }}
    <ul class="post-tags">
        {{ range .Params.tags }}
        <li class="post-tag"><a href='{{ "tags/" | absLangURL }}{{ . | urlize }}'>{{ . }}</a></li>
        {{ end }}
    </ul>
    {{ end }}

    <span class="post-date">{{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date}}</span>
</div>
