

$mobile: 600px;
$desktop: 1200px;
$font-min: 20px;
$font-max: 40px;
$screen-diff: ($desktop / 1px - $mobile / 1px);
$font-diff: ($font-max / 1px - $font-min / 1px);

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

$btn-color: (#c74cfc);

html, body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.nav-full {
  width: 100%;
  display: flex;
  flex-direction: row;
}

strong {
  font-size: +130%;
  color: #02890d;
}

#nav-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 3.5vw;
  min-width: 3ch;
  margin-left: 0.2em;
  letter-spacing: 0.15em;
  @media (max-width: 599px) {
    font-size: $font-min;
  }
  @media (min-width: 600px) and (max-width: 1200px) {
    font-size: calc(
      #{$font-min} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff}
    );
  }
  @media (min-width: 1201px) {
    font-size: $font-max;
  }
}

.search-btn{
  background-color: hsl(282, 97%, 64%);
  border: 2px solid #c74cfc;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: 0 0 10px .6em;
  transition: all 0.5s ease 0s;
  outline:none;
}

.search-text{
  margin: 0 0 0 0;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #c74cfc;
  color: #fcfcfc;
  border: 2px solid #c74cfc;
}

.form-search{
  margin: .28em;
  padding: 0em 0 0 1rem;
  display: flex;
}

.r-pic {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.col-pic {
  align-content: center;
}

.container-img{
  width: 96vw;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.dp-img {
  opacity: 1;
  margin: 1.4em 0 0 0;
  width: 90%;
  height: 90%;
  transition: 0.5s ease;
  border-radius: 50%;
  background: #f2f2f2;
  box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.6);
}

.dp-text {
  position: relative;
  transition: 0.5s ease;
  opacity: 0;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 6px;
  transform: translate(0 , -50%);
  -ms-transform: translate(0 , -50%);
  text-align: center;
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 2em 2em 0;
}

.dp-img:hover {
  cursor: pointer;
  opacity: 0.4;
  transform: scale(1.08);
  z-index: -1;
  .dp-text{
    cursor: pointer;
    opacity: 1;
  }
}

.container-img:hover .dp-text{
  cursor: pointer;
  opacity: .7;
}

.wrapper {
  /*This part is important for centering*/
  width: 100vw;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.typing-text {
  width: 100%;
  margin: 10px 0 0 0;
  animation: typing 4s 2s infinite alternate steps(40),
    blink 0.3s step-start infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.8vw;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 66%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
    
  }
}

.name-display {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6vw;
  color: #02890d;
  font-weight: bold;
}

.notation-name{
  margin: .5em 0 0 0;
}
.icons-link{
  margin: 1.6em 0 0 0.5em;
}

.form-contact {
  border: none;
  margin: 0 3rem 0 1rem;
}

.foot-main {
  margin: 30px 0 1em 0;
}
